.Events {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.Text {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
