.Events {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.Text {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.NotFound {
  text-align: center;
  padding: 4rem 0;
}

@media (max-width: 1000px) {
  .Events {
    justify-content: center;
  }
}
